<form action="" class="form">
  <table>
    <tr>
      <td>
        <mat-form-field class="form-element">
          <mat-label>Name</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="form-element">
          <mat-label>Email Address</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-raised-button color="basic"> Add member</button>
</form>