.example-spacer {
    flex: 1 1 auto;
  }
  mat-sidenav{
    height: 100%;
    width: 100%;
  }
  mat-drawer-container{
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.12);
  }
  mat-drawer-content{
    margin-top: 50px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }