.example-spacer {
    flex: 1 1 auto;
  }
  mat-sidenav{
    height: 100%;
    width: 100%;
  }
  mat-drawer-container{
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.12);
  }

  mat-drawer-content{
    position: absolute; 
    margin-top: 50px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}